#container{
    width: 170px;
}

u{
    list-style-type: none;
    text-decoration: none;
}

li{
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid;
    border-color: rgba(238, 236, 236, 0.35);
}

a {
    color : white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    background-color:rgb(134, 99, 99);    
}

.hover{
    background-color:rgb(134, 99, 99);    
    cursor: pointer;
}





