<h1>Customer Search</h1>
<form  #searchForm="ngForm">
  <div fxLayout fxLayout.lt-sm="column" fxLayoutGap="10px">
    <mat-form-field fxFlex="350px" fxFlex.lt-sm>
      <input matInput name="customerName" placeholder="Customer Name" [(ngModel)]="searchArgs.name" [disabled]="searchArgs.zip != ''">
    </mat-form-field>
    <mat-form-field fxFlex="180px" fxFlex.lt-sm>
      <input matInput name="zipCode" placeholder="Zip Code" [(ngModel)]="searchArgs.zip" [disabled]="searchArgs.name != ''">
    </mat-form-field>    
  </div>
  <div>
      <button type="button" mat-raised-button (click)="doSearch()" [disabled]="disableSearch()">
          <mat-icon>search</mat-icon>
          Search
        </button>
        <button type="button" mat-raised-button (click)="clear()">
          <mat-icon>clear</mat-icon>
          Clear
        </button>    
  </div>
</form>

<h1>{{feedbackMsg}}</h1>

<div *ngIf="customers && customers.filteredData.length >0">

  <mat-table [dataSource]="customers">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let cust">
        <a [routerLink]="[cust.C_RSN]" routerLinkActive="active">{{cust.C_FORMALNAME}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="zip">
      <mat-header-cell *matHeaderCellDef> Zip Code </mat-header-cell>
      <mat-cell *matCellDef="let cust"> {{cust.C_ZIP}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="telno">
      <mat-header-cell *matHeaderCellDef> Telephone </mat-header-cell>
      <mat-cell *matCellDef="let cust"> {{cust.C_TELNO}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['name','zip','telno']"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: ['name','zip','telno']"></mat-row>

  </mat-table>

  <div id="nav">
    <button [disabled]="disablePrev" type="button" mat-raised-button (click)="doPage('prev')">
      <mat-icon>skip_previous</mat-icon>
      Prev
    </button>
    <button [disabled]="disableNext" type="button" mat-raised-button (click)="doPage('next')">
      Next
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>

</div>