.mat-table {
    overflow: auto;
    /* max-height: 500px; */
  }

  #nav{
      margin-top: 10px;
  }

  #nav button {

  }

 /* .mat-header-cell{
      font-weight: bolder;
      font-size: 14px;
  } */

  a {
      color : white;
  }