.mli-sidenav-container {
    position: absolute;
    top: 56px;
    bottom: 25px;
    left: 0;
    right: 0;
  }
  
  .mli-sidenav {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
     width: 175px; 
    /* background: rgba(255, 0, 0, 0.5); */
  }
  
  .mli-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
  }

  .mli-header h1 {
    margin-left : 10px;
    margin-right: 10px;
  }

  .mli-header div{
    text-align: right;
  }

  .user {
    text-align: right;
  }
  
  .mli-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height : 25px;
    font-size: smaller;
  }

  .mli-footer div:nth-child(2){
    text-align: right;
  }

  .mli-container{
    padding-left: 15px;
    padding-right: 15px;
  }

  .spinner-container {
    position: absolute;
    top:30%;
    left: 0;
    right: 0;
    z-index: 100; 
  }

  .spinner-container mat-spinner{
    z-index: 100; 
  }


  