<div>

  <mat-toolbar color="primary" class="mli-header">
    <button mat-icon-button (click)="toggle(side)">
      <mat-icon>menu</mat-icon>
    </button>
    <h1> MLI Web Portal </h1>
    <mat-icon>cloud</mat-icon>
  </mat-toolbar>

  <mat-sidenav-container class="mli-sidenav-container">
    <mat-sidenav #side mode="side" [opened]="showNav" class="mli-sidenav">
      <mli-side-nav></mli-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="mli-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar color="accent" class="mli-footer">
    Mobile Lift Inc. &copy;2017
  </mat-toolbar>

</div>